{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
   <div class="container">
    <h1><b>Organismos</b></h1>
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('mensaje') %}

        <span  class="card-panel teal lighten-2">{{ flashMessage }}</span>

        {% endfor %}
    </div>
    <table class="records_list">
        <thead>
            <tr>
                <th>Codigo organismo</th>
                <th>Nombre organismo</th>
                <th>Telefono organismo</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><!--<a href="{{ path('organismo_show', { 'id': entity.codOrganismo }) }}">-->{{ entity.codOrganismo }}</a></td>
                <td>{{ entity.nombreOrganismo }}</td>
                <td>{{ entity.telefonoOrganismo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('organismo_show', { 'id': entity.codOrganismo }) }}">Ciudad</a>
                    </li>
                    <!--
                    <li>
                        <a href="{{ path('organismo_edit', { 'id': entity.codOrganismo }) }}">edit</a>
                    </li>
                -->
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    
</div>
</div>
{% endblock %}