{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
    <h1><b>Departamentos</b></h1>
    <!--{# total items count #}-->
    <div class="count">
        <b>Total colores: </b>{{ pagination.getTotalItemCount }}
    </div>
    <table class="records_list">
        <thead>
            <!--
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th></th>
            </tr>
            -->
            <tr>
            <!--{# sorting of properties based on query components #}-->
                <th>Codigo Departamento</th>
                <th>Nombre Departamento</th>
                <th>Ciudades</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <!--
            <tr>
                <td><a href="{{ path('departamento_show', { 'id': entity.codDepartamento }) }}">{{ entity.codDepartamento }}</a>{{ entity.codDepartamento }}</td>
                <td>{{ entity.nombreDepartamento }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('departamento_show', { 'id': entity.codDepartamento }) }}">Ver ciudades</a>
                    </li>
                    <li>
                        <a href="{{ path('departamento_edit', { 'id': entity.codDepartamento }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
            -->
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ entity.codDepartamento }}</td>
                <td>{{ entity.nombreDepartamento }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('departamento_show', { 'id': entity.codDepartamento }) }}">Ver ciudades</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <!--
    <ul>
        <li>
            <a href="{{ path('departamento_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    -->
</div>
{% endblock %}