{% extends '::base.html.twig' %}

{% block body -%}

<div class="container">
    <h1>Lista de carrocerias</h1>
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('mensaje') %}

        <span  class="card-panel teal lighten-2">{{ flashMessage }}</span>

        {% endfor %}
    </div>
    <ul>
        <li>
            <a href="{{ path('carroceria_new') }}">
                Ingresar nueva carroceria
            </a>
        </li>
    </ul>
    <table class="records_list">
        <thead>
            <tr>
                <th>Codigo de la carroceria</th>
                <th>Tipo de carroceria</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><!--<a href="{{ path('carroceria_show', { 'id': entity.codCarroceria }) }}"></a>-->{{ entity.codCarroceria }}</td>
                <td>{{ entity.tipoCarroceria }}</td>
                <td>
                <ul>
                    <li>
                        
                        <a href="{{ path('carroceria_edit', { 'id': entity.codCarroceria }) }}">Editar entrada</a>-
                        <a href="{{ path('carroceria_delete', { 'id': entity.codCarroceria }) }}">Eliminar entrada</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
